<% if (credError !== 'false') { %>
    <h3 style="margin: 10px 0; color: red"> <%= credError %></h3>
  <% } %>
  <% if (userError) { %>
    <h3 style="margin: 10px 0; color: red"> <%= userError %></h3>
  <% } %>